doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Pets
            .cards 
                each pet in data
                    .card 
                        h2.card__name #{pet.properties.pet_name}
                        p #{pet.properties.pet_type}
                        p #{pet.properties.age} years
                        p #{pet.properties.weight} kg.

            a(href='/update-cobj') Create Pet